name: OWASP Maven Dependency Check
on:
  schedule:
    - cron: '0 8 * * 0'
  workflow_dispatch:


jobs:
  check-dependencies:
    uses: skymatic/workflows/.github/workflows/run-dependency-check.yml@1074588008ae3326a2221ea451783280518f0366
    with:
      runner-os: 'ubuntu-latest'
      java-distribution: 'temurin'
      java-version: 24
    secrets:
      nvd-api-key: ${{ secrets.NVD_API_KEY }}
      ossindex-username: ${{ secrets.OSSINDEX_USERNAME }}
      ossindex-token: ${{ secrets.OSSINDEX_API_TOKEN }}
      slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
